@model Rkna_Project.Models.Customer_Slut_Table
@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<br />
<br />

<h2> New Booking Slot</h2>
<img src="~/img/3.png" class="offset-7 col-5" style="width:400px;height:400px;margin-top: -200px;}" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-10" style=" display: none;">
                @Html.TextBox("Customer_ID", ViewBag.Customer as string , new { htmlAttributes = new {  @class = "form-control  ",  disabled = "disabled", @Value = ViewBag.Customer } })
            </div>
             <br />

        <div class="form-group">
            @Html.Label("Governorate Name", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                <select class="form-control" id="Gov" name="Gov" required="required">
                    <option value="-1">Choose Governorate </option>

                    @{ foreach (var item in ViewBag.Governorate_Table as List<Rkna_Project.Models.Governorate_Table>)
                        {

                            <option value="@item.Gov_ID.ToString()">@item.Gov_Name</option>
                        }
                    }
                </select>
                <br />
                @Html.ValidationMessage("Governate is Required", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("City", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                <select class="form-control" id="States" name="States" required="required"></select>
                <br />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Garage", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                <select class="form-control" id="Area_ID" name="Area_ID" required="required"></select>
                <br />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cus_Slut_Date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cus_Slut_Date, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                <br />
                @Html.ValidationMessageFor(model => model.Cus_Slut_Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cus_Slut_S_Time, "Start Time ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cus_Slut_S_Time, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                <br />
                @Html.ValidationMessageFor(model => model.Cus_Slut_S_Time, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cus_Slut_E_Time, "End Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cus_Slut_E_Time, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                <br />
                @Html.ValidationMessageFor(model => model.Cus_Slut_E_Time, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Car Model ", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                <select class="form-control" id="Car_Spe_ID" name="Car_Spe_ID" required="required">
                    <option value="-1">Choose Car Model </option>

                    @{ foreach (var item in ViewBag.Car_Specifications as List<Rkna_Project.Models.Car_Specifications_Table>)
                        {

                            <option value="@item.Car_Spe_ID.ToString()">@item.Care_Model</option>
                        }
                    }
                </select>
                <br />
                @Html.ValidationMessage("Car Model is Required", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <select class="form-control" id="Slut_ID" name="Slut_ID" required="required"></select>
                <br />
            </div>
            @Html.ValidationMessage("Required Select a slot", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.Slut_ID, "Slot Name Is Required", new { @class = "text-danger" })
        </div>
        </div>
        <br />
        <br />
        <br />
        <div class=" container col-md-10 btn-group" id="PanalSlut">
            @*this is for showing sluts in the choosen area*@


        </div>
        <br />
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-info btn-space btn-rounded " />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-rounded btn-large" })


            </div>
        </div>
   
    
   
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Gov").change(function () {
                $.ajax({
                    type: "GET",
                    url: "/Area/getCity",
                    data: "{}",
                    success: function (data) {
                        var s = '<option value="-1">Please Select</option>';
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Gov_ID == $("#Gov").val()) {
                                s += '<option value="' + data[i].States_ID + '">' + data[i].States_Name + '</option>';
                            }
                        }
                        $("#States").html(s);
                    }
                });
            });
            //------------------------------------
            $("#States").change(function () {
                $.ajax({
                    type: "GET",
                    url: "/Customer/getArea",
                    data: "{}",
                    success: function (data) {
                        var s = '<option value="-1">Please Select</option>';
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].States_ID == $("#States").val()) {
                                s += '<option value="' + data[i].Area_ID + '">' + data[i].Area_Name + '</option>';
                            }
                        }
                        $("#Area_ID").html(s);
                    }
                });
            });
            //----------------------------getSluts-------
            $("#Area_ID").change(function () {
                $.ajax({
                    type: "GET",
                    url: "/Customer/getSluts",
                    data: "{}",
                    success: function (data) {
                        var s = ' ';
                        var s1 = '<option value="-1">Please Select Slot</option>';
                        for (var i = 0; i < data.length; i++) {

                            if (data[i].Area_ID == $("#Area_ID").val()) {

                                if (data[i].Slut_State == false) {

                                    s += '<input type="button" id="slot _but' + data[i].Slut_ID + ' "name="slot _but' + data[i].Slut_ID + ' "  value="' + data[i].Name + '/Level' + data[i].Slut_Level + '"  class="btn btn-outline-dark float-left ml-1 mb-1 col-md-2" />';
                                    s1 += '<option value=" ' + data[i].Slut_ID + '">' + data[i].Name + "/level" + data[i].Slut_Level + '</option>';

                                }
                                else if (data[i].Slut_State == true) {
                                    s += '<input type="button" id="slot _but' + data[i].Slut_ID + '" name="slot _but' + data[i].Slut_ID + ' " value="' + data[i].Name + '/Level' + data[i].Slut_Level + 'Busy"  class="btn btn-outline-danger float-left ml-1 mb-1 col-md-2  disabled" />';
                                    s1 += '<option  value="' + data[i].Slut_ID + '" disabled="disabled">' + data[i].Name + "/level" + data[i].Slut_Level + "Busy" + '</option>';

                                }

                            }
                            //else {
                            //    s = '<h1>There is No Slots Add In This Parking Untill Now </h1>';
                            //    s1 = '<option>There is No Slots Add In This Parking Untill Now </option>';
                            //}


                        } $("#Slut_ID").html(s1);
                        $("#PanalSlut").html(s);
                    }
               
                    
                });
            });

            //-----------------------------------
            //$("#Area_ID").change(function () {
            //    $.ajax({
            //        type: "GET",
            //        url: "/Customer/getSluts",
            //        data: "{}",
            //        success: function (data) {
            //            var s = '<option value="-1">Please Select Slot</option>';
            //            for (var i = 0; i < data.length; i++) {
            //                if (data[i].Area_ID == $("#Area_ID").val()) {

            //                    if (data[i].Slut_State == false) {
            //                        s += '<option value=" ' + data[i].Slut_ID + '">' + data[i].Name + "/level" + data[i].Slut_Level + '</option>';
            //                    }
            //                    else if (data[i].Slut_State == true) {
            //                        s += '<option  value="' + data[i].Slut_ID + '" disabled="disabled">' + data[i].Name + "/level" + data[i].Slut_Level + "Busy" + '</option>';
            //                    }

            //                }
            //                else {
            //                    s = '<option>There is No Slots Add In This Parking Untill Now </option>';
            //                }
            //            }
            //            $("#slot_ID").html(s);
            //        }
            //    });
            //});


            $("#slot_ID").change(function () {
                $("#slut_btn" + this.id).addClass("btn btn-outline-danger float-left ml-1 mb-1 col-md-2  disabled");
            });

        });

                         



    </script>
}





