@model IEnumerable<Rkna_Project.Models.Customer_Slut_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2>All Your  Booking Slots </h2>

    <p >
        @Html.ActionLink("New Booking", "Create", null, new { @class = "btn btn-primary btn-rounded btn-large" })
    </p>
    <img src="~/img/1.png"  class="offset-7 col-5" style="width :500px;height:300px;margin-top: -224px;margin-bottom: 5px;}"/>


<table class="table  w-auto small">
    <tr>
        <th>
            @Html.DisplayName(" Slot Date")
        </th>
        <th>
            @Html.DisplayName("Slot Start Time")
        </th>
        <th>
            @Html.DisplayName("Slot End Time")
        </th>
        <th>
            @Html.DisplayName("Cheeck Code")
        </th>
        <th>
            @Html.DisplayName("User Email")
        </th>

        <th>
            @Html.DisplayName("Slot Name")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cus_Slut_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cus_Slut_S_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cus_Slut_E_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cheeck_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Slut_Table.Name)
            </td>
            <td>
                
                
                @Html.ActionLink("Details", "Details", new { id = item.Customer_Slut_ID },  new { @class = "btn btn-primary btn-rounded btn-large" })
            </td>
        </tr>
    }

</table>
