@model Rkna_Project.Models.Slut_Table

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2> New Slot</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Governorate Name", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                <select class="form-control" id="Gov" name="Gov" required="required">
                    <option value="-1">Choose Governorate </option>

                    @{ foreach (var item in ViewBag.Governorate_Table as List<Rkna_Project.Models.Governorate_Table>)
                        {

                            <option value="@item.Gov_ID">@item.Gov_Name</option>
                        }
                    }
                </select>
                <br />
                @Html.ValidationMessage("Governate is Required", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("City", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                <select class="form-control" id="States" name="States" required="required"></select>
                <br />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Garage", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                <select class="form-control" id="Area_ID" name="Area_ID" required="required"></select>
                <br />
            </div>
        </div>

        @*<div class="form-group">
                @Html.Label("Area Name", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    <select class="form-control" id="Area_ID" name="Area_ID" required="required">
                        @{ foreach (var item in ViewBag.Area_Table as List<Rkna_Project.Models.Area_Table>)
                            {

                                <option value="@item.Area_ID.ToString()">@item.Area_Name</option>
                            }
                        }
                    </select>
                    <br />
                    @Html.ValidationMessageFor(model => model.Area_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder ="Slot+number"} })
                <br />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Slut_Level, "Level", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slut_Level, new { htmlAttributes = new { @class = "form-control" } })
                <br />

                @Html.ValidationMessageFor(model => model.Slut_Level, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Slut_State, "State", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Slut_State)
                    @Html.ValidationMessageFor(model => model.Slut_State, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div id="map_canvas" style="height: 400px;"></div>
        </div>
        <div class="form-group">
            @Html.Label("Address", htmlAttributes: new { id = "address", @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.Editor(" ", new { htmlAttributes = new { id = "address", @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Slut_X_Point, "Longitude", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slut_X_Point, new { htmlAttributes = new { id = "Longitude", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Slut_X_Point, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Slut_Y_Point, "Latitude", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slut_Y_Point, new { htmlAttributes = new { id = "Latitude", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Slut_Y_Point, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-info btn-rounded" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-rounded btn-large" })
            </div>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWTHLiTeCJ8YVPGdMkZEPXzo_6FeuRwHE&sensor=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Site.js")"></script>
    <script>$(document).ready(function () {
            $("#Gov").change(function () {
                $.ajax({
                    type: "GET",
                    url: "/Area/getCity",
                    data: "{}",
                    success: function (data) {
                        var s = '<option value="-1">Please Select</option>';
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Gov_ID == $("#Gov").val()) {
                                s += '<option value="' + data[i].States_ID + '">' + data[i].States_Name + '</option>';
                            }
                        }
                        $("#States").html(s);
                    }
                });
            });
            //------------------------------------
            $("#States").change(function () {
                $.ajax({
                    type: "GET",
                    url: "/Customer/getArea",
                    data: "{}",
                    success: function (data) {
                        var s = '<option value="-1">Please Select</option>';
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].States_ID == $("#States").val()) {
                                s += '<option value="' + data[i].Area_ID + '">' + data[i].Area_Name + '</option>';
                            }
                        }
                        $("#Area_ID").html(s);
                    }
                });
            });
        });
        </script>
}
