@model Rkna_Project.Models.Slut_Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>  @Html.DisplayFor(model => model.Name) Details</h2>

<div>
    
    <table class="table">
        <tr>
            <th>
                @Html.Label("Name")
            </th>
            <th>
                @Html.Label("Level")
            </th>
            <th>
                @Html.Label("State")
            </th>  
            <th>
                @Html.Label("Area Name")
            </th>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Slut_Level)
            </td>
            <td>
                @Html.DisplayFor(model => model.Slut_State)
            </td>
            <td>
                @Html.DisplayFor(model => model.Area_Table.Area_Name)
            </td>
        </tr>
    </table>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div id="map_canvas" style="height: 400px;"></div>
    </div>
    <div class="form-group">
        @Html.Label("Address", htmlAttributes: new { id = "address", @class = "control-label col-md-6" })
        <div class="col-md-10">
            @Html.Editor(" ", new { htmlAttributes = new { id = "address", @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Slut_X_Point, "Longitude", htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Slut_X_Point, new { htmlAttributes = new { id = "Longitude", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Slut_X_Point, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Slut_Y_Point, "Latitude", htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Slut_Y_Point, new { htmlAttributes = new { id = "Latitude", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Slut_Y_Point, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        @Html.ActionLink("Update", "Edit", new { id = Model.Slut_ID }, new { @class = "btn btn-primary btn-rounded btn-large" })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Slut_ID },  new { @class = "btn btn-danger btn-rounded btn-large" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-rounded btn-large" })
    </div>}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWTHLiTeCJ8YVPGdMkZEPXzo_6FeuRwHE&sensor=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Site.js")"></script>
}
