@model IEnumerable<Rkna_Project.Models.States_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>All Citys</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-primary btn-rounded btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("City Name")
        </th>
        <th>
            @Html.Label("State Description ")
        </th>
        <th>
            @Html.Label("Governorate Name")
        </th>
        <th></th>
    </tr> 
     
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.States_Name, new { @class="row" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.States_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Governorate_Table.Gov_Name)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.States_ID }, new { @class = "btn btn-primary btn-rounded btn-large" }) 
           
        </td>
    </tr>
}

</table>
