 @model Rkna_Project.Models.Company_Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2> @Html.DisplayFor(model => model.Company_Name) Details</h2>

<div>
   
    <hr />
    <table class="table">
        <tr>
            <td>
                @Html.Label("Company Name") 
            </td>

            <td>
                @Html.DisplayFor(model => model.Company_Name)
            </td>

            <td>
                @Html.Label("Company Description")
            </td>

            <td>
                @Html.DisplayFor(model => model.Company_Desc)
            </td>

            <td>
                @Html.Label("Company Pnone 1")
            </td>

            <td>
                @Html.DisplayFor(model => model.Com_Pnone1)
            </td>

            <td>
                @Html.Label("Company Pnone 2")
            </td>

            <td>
                @Html.DisplayFor(model => model.Com_Pnone2)
            </td>

            <td>
                @Html.Label("Company Pnone 3")
            </td>

            <td>
                @Html.DisplayFor(model => model.Com_Pnone3)
            </td>

            <td>
                @Html.Label("Company Manger")
            </td>
            <td>
                @Html.DisplayFor(model => model.Comp_Manger)
            </td>
        </tr>
    </table>
</div>
<br />
<div>
    @Html.ActionLink("Update", "Edit", new { id = Model.Company_Info_ID },  new { @class = "btn btn-primary btn-rounded btn-large" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.Company_Info_ID },  new { @class = "btn btn-danger btn-rounded btn-large" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-rounded btn-large" })
</div>
