@model IEnumerable<Rkna_Project.Models.Company_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Company Information</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-rounded btn-large" })
</p>
<table class="table  w-auto small">
    <tr>
        <th>
            @Html.Label("Company Name") 
        </th>
        <th> 
            @Html.Label("Company Description")
        </th>
        <th>
            @Html.Label("Company Pnone 1")
        </th>
        <th>
            @Html.Label("Company Pnone 2")
        </th>
        <th>
            @Html.Label("Company Pnone 3")
        </th>
        <th>
            @Html.Label(" Company Manager")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Com_Pnone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Com_Pnone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Com_Pnone3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comp_Manger)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.Company_Info_ID },  new { @class = "btn btn-primary btn-rounded btn-large" })
            
        </td>
    </tr>
}

</table>
