@model Rkna_Project.Models.Car_Specifications_Table

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Care_Model)?</h2>


        <div>

            <hr />
            <table class="table">
                <tr>
                    <td>
                        @Html.Label("Car Model")
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Care_Model)
                    </td>

                    <td>
                        @Html.Label("Car plate Number")
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Car_plate_Number)
                    </td>

                    <td>
                        @Html.Label("Car Owner")
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.AspNetUser.Email)
                    </td>
                </tr>

            </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-outline-danger btn-rounded" /> 
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-rounded btn-large" })
                </div>
            }
        </div>
