@model List<Rkna_Project.Models.Car_Specifications_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Cars</h2>

<p>
    @Html.ActionLink("New car", "Create", null, new { @class = "btn btn-primary btn-rounded btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Care Model")
        </th>
        <th>
            @Html.Label("Car plate Number")
        </th>
        <th>
            @Html.Label("Car Owner")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Care_Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car_plate_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Car_Spe_ID }, new { @class = "btn btn-primary btn-rounded btn-large" })
            </td>
        </tr>
    }

</table>
